@media screen and (max-width: 2000px) {

    main h1 {
        max-width: 1000px;
    }

    main .details {
        /* border: 1px solid; */
        max-width: 800px;
        /* margin-top: calc(.5vw + 6rem); */
    }

    main .intro-section button {
        height: 60px;
        margin-top: calc(.5vw + 3rem);
    }

    .offering {
        width: 60%;
    }

    .offering .offer-box {
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width: 1700px) {
    .process-details img {
        width: 230px;
    }

    .animated-line {
        top: 10rem;
    }
}

@media screen and (max-width: 1450px) {
    main .details {
        /* border: 1px solid; */
        flex-direction: column;
        justify-content: center;
        margin-top: calc(.5vw + 2rem);
    }

    main .details .icons {
        /* justify-content: space-evenly; */
    }

    main .intro-section {
        padding-left: 5rem;
    }

    .process .process-box .process-details {
        height: 350px;
    }

    .process-details img {
        width: 200px;
    }

    main .details .icons:nth-child(2) h5 {
        /* border: 1px solid ; */
        text-align: end;
    }
    .animated-line {
        top: 5rem;
    }
}

@media screen and (max-width: 1300px) {
    .offering {
        width: 70%;
    }

    .offering .offer-box {
        width: 300px;
        height: 250px;
    }

    .offering .offer-box img {
        max-width: 100px;
    }

    .section-background-img img {

        height: 130%;

    }

    .process {
        /* margin-top: 55rem; */

        margin-top: 8rem;
    }

    main .intro-section button {
        height: 42px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .process .process-box .process-details {
        max-width: 35%;
        min-height: 280px;
    }

    .process-details img {
        width: 220px;
    }

    .process {
        max-width: 90%;
    }

}

@media screen and (max-width: 1000px) {
    main {
        /* position: relative; */
    }

    nav {
        /* background-color: black; */
        height: 90px;
        margin: 3px 10px;
    }

    nav img {
        /* margin-top: 1rem; */
        width: 80px;
        height: auto;
        margin-left: auto;
    }

    nav h1 {
        margin-left: auto;
        font-size: 0.8rem;
        color: #0E69F7;
    }

    main img:nth-child(2) {
        width: 40vw;
        position: absolute;
        right: 5rem;
        z-index: -1;
    }

    main .intro-section button {
        height: 45px;
        font-size: 1rem;
    }

    main .details .icons {
        max-width: 200px;
        margin: .2rem 0;
    }

    .offering .offer-box {
        width: 250px;
        height: 210px;
    }

    .offering {
        width: 96%;
    }

    .section-background-img img {
        height: 115%;
    }

    .process .process-box .process-details {
        /* max-width: 35%; */
        min-height: 180px;
        height: 257px;
    }

    .process-details img {
        width: 150px;
    }

    .specific-detail p {

        font-size: calc(.7vw + .5rem);
    }

    .process {
        /* margin-top: 48rem; */
        margin-top: 8rem;
    }

    main .details .icons:nth-child(2) h5 {
        /* border: 1px solid ; */
        text-align: start;
    }
}

@media screen and (max-width: 750px) {

    main img:nth-child(2) {
        right: 0rem;
    }

    main .intro-section button {
        height: 37px;
        font-size: .9rem;
    }

    .section-heading {

        font-size: 1.2rem;
    }

    section p:nth-child(2) {
        max-width: 450px;
        font-size: 1rem;
    }

    .process .process-box .process-details {
        max-width: 38%;
        min-height: 180px;
        height: 227px;
    }

    .process-details img {
        width: 120px;
    }

    .animated-line {
        width: 10px;
    }

    .animated-line {
        top: 4rem;
    }

}

@media screen and (max-width: 600px) {

    nav img {
        /* margin-top: 1rem; */
        width: 60px;
    }

    nav h1 {
        font-size: 0.7rem;
    }

    main img:nth-child(2) {
        /* display: none; */
        min-width: 90vw;
        opacity: .2;
        top: -1rem;
        /* height: 1000px; */
    }

    main .intro-section {
        background-image: url('./assets/x.png');
        background-repeat: none;
        /* border: 1px solid; */
        /* background-attachment: fixed; */
    }

    main h1 {
        margin-top: .5rem;
    }

    main .intro-section button{
        background: transparent;
        height: 34px;
        font-size: .7rem;
    }
    main .intro-section button .iconss{
        color: black;
    }

    main .intro-section button a {
        color: black;
        padding: 0.5rem;
        font-size: 10px;
    }

    main .intro-section button a {
        padding: .5rem;
    }

    main .details .icons {
        max-width: 169px;
    }

    main .intro-section {
        padding-left: 2rem;
    }

    .offering .offer-box {
        /* width: 200px; */
        width: 190px;
        height: 170px;
    }

    .offering .offer-box h1 {
        font-size: calc(1vw + .5rem)
      }
      
      .offering .offer-box p {
      
        margin-top: 5px;
        font-size: calc(.8vw + .3rem);
      
        text-align: center;
      }

    .section-background-img img {

        height: 100%;

    }

    .process {
        margin-top: 8rem;
    }

    .process .process-box .process-details {
        max-width: 41%;
        /* min-height: 180px; */
        height: 200px;
    }

    .process-details img {
        width: 100px;
        height: 100px;
    }

    .technology-section div .techstack img {
        width: 90px;
        cursor: pointer;
    }


    .msg-container {
        margin-top: 1rem;
        width: 70%;
        padding: 20px 60px 30px 40px;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 500px) {
    .section-background-img img {

        height: 165%;

    }

    .section-heading {

        font-size: .8rem;
        display: flex;
        /* flex-direction: column; */
        align-items: center;

    }

    section p:nth-child(2) {
        max-width: 400px;
        font-size: .9rem;
    }

    .process {
        margin-top: 7rem;
        /* margin-top: 40rem; */
    }

    .process h1 {
        font-size: calc(1vw + 1rem);
        /* border: 1px solid black; */
        text-align: center;
    }

    .process .process-box .process-details {
        max-width: 40%;
        min-height: 100px;
        height: 150px;
    }

    .process-details img {
        width: 140px;
    }

    .specific-detail h2 {
        font-size: .75rem;
        margin: 0;
    }

    .specific-detail p {
        /* max-width: 370px; */
        font-size: .5rem;

    }


    .right-side .input-box input, .right-side .input-box textarea {
        font-size: 10px;
    }


    .msg-container .right-side p {
        font-size: 0.78rem;
        align-items: center;
    }


    .msg-container .content .right-side .topic-text {
        font-size: 19px;
        margin: 10px 0px;
    }


    .msg-container .right-side .input-box {
        height: 30px;
    }


    .footer .social-media {
        flex-direction: row;
        align-items: center;
    }

    .footer div {
        margin-top: 0rem;
    }

    .footer a h3 {
        display: none;
    }

    .about-company img {
        margin: 1rem 0;
        width: 142px;
        margin: 1rem auto;
        height: auto;
    }


    .footer .privacy-policy {
        justify-content: space-between;
        margin: 0;
        color: white;
        font-size: calc(.5vw + .3rem);
    }
}

@media screen and (max-width: 450px) {
    nav {
        height: 60px;
    }

    nav img {
        width: 50px;
      }
      
      nav h1{
        font-size: 0.5rem;
      }
    .section-background-img img {

        height: 165%;

    }

    .specific-detail h2 {
        font-size: .6rem;
        margin: 0;
    }

    .specific-detail p {
        /* max-width: 370px; */
        font-size: .45rem;

    }

    .animated-line {
        width: 6px;
    }

    .msg-container {
        width: 60%;
    }


}

@media screen and (max-width: 400px) {
    .section-heading {

        font-size: 1.1rem;
        flex-direction: column;
        align-items: center;
    }

    section p:nth-child(2) {
        max-width: 300px;
        font-size: .8rem;
    }


    .about-company p {
        width: 88%;
        margin: auto;
        margin-top: 0rem;
        padding: 0rem 1rem;
    }

    .about-company img {
        width: 100px;

    }


}

@media screen and (max-width: 350px) {
    .process {
        max-width: 99%;
    }

    .process .process-box .process-details {
        max-width: 40%;
        min-height: 90px;
        height: 130px;
    }

    .process-details img {
        width: 100px;
    }

    .specific-detail h2 {
        font-size: .6rem;
        margin: 0;
    }

    .specific-detail p {
        /* max-width: 370px; */
        font-size: .45rem;

    }
}


/* Tech Stack Section  */
@media screen and (max-width: 500px) {
    .technology-section h1 {
        padding: 0.7rem;
        font-size: 29px;
        /* justify-content: center;
        text-align: center; */
        margin: auto;
    }

    .technology-section .techstack {
        /* width: 130px; */
        width: 110px;
        height: 130px;
    }


}